doctype html  
html(lang='ru')  
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Black Star Burger
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/map.css')
    link(rel='stylesheet' href='/css/main.less')
  body
    #header.header
      .menu-popup
        ul.menu-popup__list.list.menu--no-active
          li.list__item
            a.link(href="#conditions") Условия проведения
          li.list__item
            a.link(href="#partnership") Адрес ресторанов
          li.list__item
            a.link(href="#faq") Вопросы и ответы
          li.list__item
            a.link(href="#feedback") Обратная связь
          li.list__item.d-flex.justify-content-center
            button.btn.main-btn.btn-reg.d-flex.green Регистрация и вход
      .container
        .navigation
          .menu
            .row
              .col-xs-12.col-sm-9.col-md-9.col-lg-7.col-lg-offset-3
                ul.menu__list.list.menu--active
                  li.menu__item
                    a.link(href="#conditions") Условия проведения
                  li.menu__item
                    a.link(href="#partnership") Адрес ресторанов
                  li.menu__item
                    a.link(href="#faq") Вопросы и ответы
                  li.menu__item
                    a.link(href="#feedback") Обратная связь
              .col-sm-3.col-md-3.col-lg-2.d-flex.justify-content-end
                button.btn.main-btn.btn-reg.d-flex.justify-content-center.green.menu--active Регистрация и вход
            button.btn.main-btn.btn-reg.d-flex.green.menu--no-active Регистрация и вход
            .menu__burger.menu--no-active
              span
    #main-content.main-content
      .container
        .row
          .col-sm-12.main-bg
          .col-md-7.col-lg-7.text-center
            h1 Слоган мотивационной программы
              br
              small Подстрочник
            p с 1 октября по 10 декабря
    #actions.actions
      .container
        .row
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-7.col-md-6.col-lg-6
                  p Скачай приложение
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-12.col-sm-5.col-md-5.col-lg-5.d-flex.align-items-center
                  a.margin-right-10(href="#")
                    img(src="/img/app-store.svg", alt="App Store")
                  a.margin-right-10(href="#")
                    img(src="/img/google-play-badge.svg", alt="Google Play")
                  #qr-code               
          .col-lg-10.col-lg-offset-1
            .actions__item
              p Получи ID
                br
                small Детальное описание шага, призыв к действию
          .col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-9.col-md-9.col-lg-9
                  p Подпиши документ согласия
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.d-flex.justify-content-center
                  form.navbar-form.text-center
                    button.btn.main-btn.green.d-flex.justify-content-around.align-items-center
                      ion-icon(name="download")
                      | Банк согласия
                    a.green.d-flex.justify-content-evently
                      ion-icon(name="download")
                      | Образец заполнения
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-8.col-md-9.col-md-9.col-lg-9
                  p Зарегистрируйся на сайте
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-6.col-sm-4.col-md-2.col-lg-2.d-flex.justify-content-center.padding-0
                  button.btn.main-btn.btn-reg.d-flex.justify-content-center.green Регистрация и вход
          .col-lg-10.col-lg-offset-1
            .actions__item
              p Помогай покупателям
                br
                small Детальное описание шага, призыв к действию
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-9.col-md-9.col-lg-9
                  p Получи приз
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.d-flex.justify-content-center
                  form.navbar-form
                    button.btn.main-btn.green Список ресторанов
    #conditions.conditions
      .container
        h2 Условия проведения
        .row
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open") 
              | Полные условия и правила            
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")
              | Продукция, участвующая в акции    
    #partnership.partnership
      .container
        h2 Рестораны, участвующие в конкурсе
        .dropdown
          button.btn.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Москва
            span
              img(src="/img/arrow-down.svg")
          ul.dropdown-menu
            li.city-active(data-location="moscow")
              a(href="#") Москва
            li(data-location="spb")
              a(href="#") Санкт-Петербург
            li(data-location="nn")
              a(href="#") Нижний Новгород
            li(data-location="ufa")
              a(href="#") Уфа
            li(data-location="grozniy")
              a(href="#") Грозный
            li(data-location="voronezh")
              a(href="#") Воронеж
            li(data-location="rnd")
              a(href="#") Ростов-на-Дону
            li(data-location="novosib")
              a(href="#") Новосибирск
            li(data-location="ekb")
              a(href="#") Екатеринбург
            li(data-location="krasnodar")
              a(href="#") Краснодар
            li(data-location="krasnogorsk")
              a(href="#") Красногорск
            li(data-location="mytishchi")
              a(href="#") Мытищи
            li(data-location="balashiha")
              a(href="#") Балашиха
            li(data-location="stavropol")
              a(href="#") Ставрополь
            li(data-location="kaliningrad")
              a(href="#") Калининград
            li(data-location="penza")
              a(href="#") Пенза
            li(data-location="sochi")
              a(href="#") Сочи
            li(data-location="yakutsk")
              a(href="#") Якутск
            li(data-location="tyumen")
              a(href="#") Тюмень
            li(data-location="chelyabinsk")
              a(href="#") Челябинск
            li(data-location="vladikavkaz")
              a(href="#") Владикавказ
            li(data-location="surgut")
              a(href="#") Сургут
            li(data-location="ulyanovsk")
              a(href="#") Ульяновск
            li(data-location="nizhnevartovsk")
              a(href="#") Нижневартовск
            li(data-location="gelendzhik")
              a(href="#") Геленджик
            li(data-location="blagoveschensk")
              a(href="#") Благовещенск
        .map-wrapper
          .control-panel
            ul.list-of-cities
              li.city-active(data-location="moscow")
                a(href="#") Москва
              li(data-location="spb")
                a(href="#") Санкт-Петербург
              li(data-location="nn")
                a(href="#") Нижний Новгород
              li(data-location="ufa")
                a(href="#") Уфа
              li(data-location="grozniy")
                a(href="#") Грозный
              li(data-location="voronezh")
                a(href="#") Воронеж
              li(data-location="rnd")
                a(href="#") Ростов-на-Дону
              li(data-location="novosib")
                a(href="#") Новосибирск
              li(data-location="ekb")
                a(href="#") Екатеринбург
              li(data-location="krasnodar")
                a(href="#") Краснодар
              li(data-location="krasnogorsk")
                a(href="#") Красногорск
              li(data-location="mytishchi")
                a(href="#") Мытищи
              li(data-location="balashiha")
                a(href="#") Балашиха
              li(data-location="stavropol")
                a(href="#") Ставрополь
              li(data-location="kaliningrad")
                a(href="#") Калининград
              li(data-location="penza")
                a(href="#") Пенза
              li(data-location="sochi")
                a(href="#") Сочи
              li(data-location="yakutsk")
                a(href="#") Якутск
              li(data-location="tyumen")
                a(href="#") Тюмень
              li(data-location="chelyabinsk")
                a(href="#") Челябинск
              li(data-location="vladikavkaz")
                a(href="#") Владикавказ
              li(data-location="surgut")
                a(href="#") Сургут
              li(data-location="ulyanovsk")
                a(href="#") Ульяновск
              li(data-location="nizhnevartovsk")
                a(href="#") Нижневартовск
              li(data-location="gelendzhik")
                a(href="#") Геленджик
              li(data-location="blagoveschensk")
                a(href="#") Благовещенск
          #map

    #faq.faq
      .container
        .row
          .col-lg-10.col-lg-offset-1
            h2 Вопросы и ответы
            #accordion.panel-group(role="tablist" aria-multiselectable="true")
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1")
                #heading1.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse1.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="heading1")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
                #heading2.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading2")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
                #heading3.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading3")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                #heading4.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse4.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading4")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                #heading5.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse5.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading5")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
    #feedback.feedback
      .container
        form
          h2 Обратная связь
          .form-group
            .row
              .col-sm-6.col-md-6.col-lg-6
                input#nameInput.form-control(type='text' placeholder='Имя и фамилия')
              .col-sm-6.col-md-6.col-lg-6
                input#emailInput.form-control(type='email' placeholder='Email')
          .form-group
            select#themeMessageSelect.form-control
              option Тема сообщения
              option(value="1") One
              option(value="2") Two
              option(value="3") Three
          .form-group
            textarea#messageInput.form-control(rows="3" placeholder="Сообщение")
          .form-group
            .row
              .col-xs-12.col-sm-7.col-md-5.col-lg-5
                .checkbox
                  input#checkbox(type='checkbox')
                  label(for="checkbox") Согласие на обработку персональных данных
              .col-xs-12.col-sm-5.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button.btn.btn-primary(type='submit') Отправить
    #footer.footer
      .container
        .row
          .col-xs-12.col-lg-6
            ul.nav.navbar-nav
              li
                a(href="#") Полные условия и правила
              li
                a(href="#") Банк согласия
              li
                a(href="#") Образец заполнения банка согласия
          .col-xs-12.col-lg-6.d-flex.justify-content-end.align-items-center
            button.btn.main-btn.btn-reg.green Регистрация и вход
            a.margin-right-10.margin-left-10(href="#")
              img(src="/img/app-store.svg", alt="App Store")
            a(href="#")
              img(src="/img/google-play-badge.svg", alt="Google Play")
        p.copyright &copy; 2019. Все права защищены

    #myModal.modal.fade
      .modal-dialog
        #registration.registration.modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a.active(href="#registration") Регистрация
              h4
                a(href="#login") Вход
          .modal-body
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#surnameInput-1.form-control(type='text' placeholder='Фамилия')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#nameInput-1.form-control(type='text' placeholder='Имя')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#middleNameInput-1.form-control(type='text' placeholder='Отчество')
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#emailInput-1.form-control(type='email' placeholder='Email')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#pswdInput-1.form-control(type='password' placeholder='Пароль')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#rePswdInput-1.form-control(type='password' placeholder='Пароль еще раз')
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-md-5.col-lg-5(style="padding-left: 10px; padding-right: 10px;")
                .checkbox
                  input#checkbox-1(type='checkbox')
                  label(for="checkbox-1") Согласие на обработку персональных данных
              .col-xs-12.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button.btn.btn-primary(type='submit') Зарегистрироваться
        #login.login.modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a(href="#registration") Регистрация
              h4
                a(href="#login") Вход
          .modal-body
            .row
              .col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-lg-4.col-lg-offset-2
                input#emailInput-2.form-control(type='email' placeholder='Email')
              .col-sm-4.col-md-4.col-lg-4
                input#pswdInput-2.form-control(type='password' placeholder='Пароль')
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.text-align-center
                a.text-transform-initial(href="#forgot-pswd") Забыли пароль?
          .modal-footer
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                //- form(action="logged.pug")
                  //- input.btn.btn-primary(type="submit" value="Войти")
                a.btn.btn-primary.d-flex.justify-content-center.align-items-center(href="logged.pug") Войти
        #forgot-pswd.forgot-pswd.modal-content.no-active
          .modal-header
            a.back(href="#")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Восстановление пароля
          .modal-body
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-offset-4.col-md-4.col-lg-4.col-lg-offset-4
                input#emailInput-3.form-control(type='email' placeholder='Email')
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button.btn.btn-primary(type='submit') Отправить инструкции
        #restore-pswd.restore-pswd.modal-content.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Смена пароля
          .modal-body
            .row
              .col-sm-6.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
                input#pswdInput-3.form-control(type='password' placeholder='Новый пароль')
              .col-sm-6.col-md-5.col-lg-4
                input#rePswdInput-2.form-control(type='password' placeholder='Новый пароль еще раз')
          .modal-footer
            .row
              .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button.btn.btn-primary(type='submit') Далее

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/jquery-qrcode-master/jquery.qrcode.min.js")
    script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./index.js")
    script(src="./js/map.js")